<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>ChinhSach_Index</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <h2 style="color: red;">Danh Sách Chính Sách</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <% include leftsidebar%>
            </div>
            <div class="col-lg-9">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="/chinhsach/create" style="font-size: 120%;">Thêm mới</a>                                        
                </div>
                <br />

                <table class="table table-striped" width="100%">
                    <thead>
                        <tr width="100%" style="text-align: center; padding-left: 0px;padding-right: 0px;">
                            <th width="6%">STT</th>
                            <th width="8%">Chính Sách Số</th>
                            <th width="12%">T/T Hiệu lực</th>
                            <th width="9%">Ngày Hiệu lực</th>
                            <th width="9%">Ngày hết Hiệu lực</th>
                            <th width="9%">Số Kh L/Tr Max</th>
                            <th width="9%">Tỷ lệ Phụ thu</th>
                            <th width="10%">HS.Giá Khách Tr/Nước</th>
                            <th width="10%">HS.Giá Khách N/Ngoài</th>                            
                            <th colspan="3" width="18%"> Hành động </th>
                        </tr>
                    </thead>

                    <% for (let i=0; i<danhsach.length; i++) { %>
                        <tr width="100%">
                            <td width="6%" style="text-align: right;">
                                <%=i +1 %>
                            </td>
                            <td width="8%" style="text-align: right;">
                                <%=danhsach[i].ChinhSachID %>
                            </td>
                            <td width="12%">
                                <%=danhsach[i].HieuLuc%>
                            </td>
                            <td width="9%">
                                <%=danhsach[i].NgayHieuLuc%>
                            </td>
                            <td width="9%" >
                                <%=danhsach[i].NgayHetHieuLuc %>
                            </td>
                            <td width="9%" style="text-align: right;">
                                <%=danhsach[i].SoKhachLuuTruToiDa %>
                            </td>
                            <td width="9%" style="text-align: right;">
                                <%=danhsach[i].TyLePhuThu %>
                            </td>
                            <td width="10%" style="text-align: right;">
                                <%=danhsach[i].HeSoGiaKhachTrongNuoc %>
                            </td>
                            <td width="10%" style="text-align: right;">
                                <%=danhsach[i].HeSoGiaKhachNuocNgoai %>
                            </td>                                                        
                            <td width="6%"><a href="/chinhsach/detail/<%- danhsach[i].ChinhSachID %>" style="color: darkgreen;">Xem</a> </td>
                            <td width="6%"><a href="/chinhsach/update/<%- danhsach[i].ChinhSachID %>" style="color: rgb(224, 168, 26);">Sửa</a> </td>
                            <td width="6%"><a href="/chinhsach/delete/<%- danhsach[i].ChinhSachID %>" style="color: red;">Xóa</a> </td>
                        </tr>
                        <% } %>
                </table>
            </div>

        </div>
        <div class="row">
            <% include footer%>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

</html>