<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>KhachHang_Update</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <h2 style="color: red;">Thay đổi Thông tin Khách hàng</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <% include leftsidebar%>
            </div>
            <div class="col-lg-9">
                <form class="grid" method="POST" action="/khcn/update/<%- khcn.CaNhanID %>">
                    <div class="row">
                        <div class="input-group-text col-lg-8 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text" >Tên khách hàng:</span>
                            <input type="text" class="form-control" name="CaNhanTen" id="CaNhanTen" value="<%- khcn.CaNhanTen %>">                                
                        </div>
                        <div class="input-group-text col-lg-4 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <% let _gioitinh = "Nữ"; if(khcn.GioiTinh == 1) { _gioitinh = "Nam";} else if(khcn.GioiTinh > 1) { _gioitinh = "None";} %>
                            <span class="input-group-text" id="inputGroup-text">Giới tính:</span>
                            <select type="number" class="form-control" name="GioiTinh" id="GioiTinh" value="<%- khcn.GioiTinh %>">
                                <option value="<%- khcn.GioiTinh %>"><%= _gioitinh %></option>
                                <option value="2">Khác</option>
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-6 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Loại giấy tờ:</span>
                            <select type="number" class="form-control" name="LoaiGTCNID" id="LoaiGTCNID">
                                <option value="<%- khcn.LoaiGTCNID %>"><%= khcn.TenGTCN %></option>
                                <option value="1">Giấy CMND</option>
                                <option value="2">Căn cước Công dân</option>
                                <option value="3">Hộ chiếu</option>
                                <option value="4">Giấy ĐKKD</option>
                                <option value="5">QĐ Thành lập</option>
                            </select>
                        </div>
                        <div class="input-group-text col-lg-6 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Giấy tờ số:</span>
                            <input type="text" class="form-control" name="GiayToCNSo" id="GiayToCNSo" value="<%- khcn.GTCNSo %>">                                
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="input-group-text col-lg-4 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <% let d=new Date(khcn.NgaySinh); let mm=d.getMonth() +1; if (mm.toString().length <2){mm='0' + mm}; let dd=d.getDate(); if
                                (dd.toString().length <2){dd='0' + dd}; let _d=d.getFullYear() + '-' + mm + '-' + dd; %>
                            <span class="input-group-text">Ngày sinh:</span>
                            <input type="date" class="form-control" name="NgaySinh" id="NgaySinh" value="<%- _d %>" >
                        </div>
                        <div class="input-group-text col-lg-4 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Loại khách:</span>
                            <select type="number" class="form-control" name="LoaiKhachID" id="LoaiKhachID">
                                <option value="<%- khcn.LoaiKhachID %>"><%= khcn.LoaiKhachTen %></option>
                                <option value="1">Khách trong nước</option>
                                <option value="0">Khách nước ngoài</option>
                            </select>
                        </div>
                        <div class="input-group-text col-lg-4 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Quốc tịch:</span>
                            <input class="form-control" list="danhsachQuocTich" name="QuocTichId" id="QuocTichId" value="<%- khcn.QuocTich %>">                                
                            <datalist id="danhsachQuocTich">
                                <% for(let i=0; i<quoctich.length; i++){ %>
                                    <option value="<%- quoctich[i].QuocTichID +'|'+quoctich[i].QuocTichCode+'|'+quoctich[i].QuocGia %>">
                                        <%= quoctich[i].QuocTichCode %> -- <%= quoctich[i].QuocGia %>
                                    </option>
                                    <% } %>
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-12 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Địa chỉ:</span>
                            <input type="text" class="form-control" name="DiaChi" id="DiaChi"
                            value="<%- khcn.DiaChi %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-5 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Điện thoại:</span>
                            <input type="text" class="form-control" name="DienThoai" id="DienThoai"
                            value="<%- khcn.DienThoai %>">
                        </div>
                        <div class="input-group-text col-lg-7 mb-3" style="padding-left: 1px;padding-right: 1px;">
                            <span class="input-group-text">Email:</span>
                            <input type="email" class="form-control" name="Email" id="Email"
                            value="<%- khcn.Email %>">
                        </div>
                    </div>
                   
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary " type="submit"> LƯU DỮ LIỆU </button>
                        <button class="btn btn-info " type="reset"> Reset </button>
                    </div>
                </form>
                <br />
                <a class="btn btn-success" href="/khcn" style="font-size: 100%;">Quay lại Danh sách khách hàng </a>
                <br />
                <br />
            </div>

        </div>
        <div class="row">
            <% include footer%>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>