
<!doctype html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>LoaiPhong_Result</title>    
    
  </head>
  <body>    
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <br>
                <h2 style="color: red;">Loại Phòng_Kết Quả Xử Lý</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><% include leftsidebar%></div>
            <div class="col-lg-9">
                <% let k = "Không thành công"; let err =""; %>
                <%  let s= "style = 'color: darkred' ";%>
                <%  let h= "Bạn đã " + thaotac.ten;%>
                <% if(ketqua.status==404){err = "errorCode: " + ketqua.errcode + ", errorMessage:  " + ketqua.errMessage; } ; %>                    
                  
                <% if(ketqua.status==200){k = "Thành công"; s= "style = 'color: #009900'" }  %>
                
                <p class="text-xxl-start fs-3" <%- s %>><%= h %> :</p>  <p class="text-xxl-start fs-3" <%- s %>><%=k %></p>
                <div class="alert alert-danger" role="alert" <%- s %>><%= err %></div>
                <a class="btn btn-success" href="/loaiphong" style="font-size: 100%;">Quay lại Danh mục Loại phòng</a>
            </div>
        <div class="row">
            <% include footer%>
        </div>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>

  </body>
</html>