<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <script src="/javascripts/myjquery.js"></script>
    <title>phieuThuePhong_Delete</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <h2 style="color: red;">Xóa Phiếu Thuê Phòng</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <% include leftsidebar%>
            </div>
            <div class="col-lg-9">
                <form class="grid" method="POST" action="/thuephong/delete/<%- phieuthue.PhieuThueID %>" >
                    <div class="row">
                        <div class="input-group-text col-lg-3 mb-1">
                            <span class="input-group-text">Phiếu thuê ID:</span>
                            <input class="form-control" name="PhieuThueID" id="PhieuThueID" value="<%- phieuthue.PhieuThueID %>" readonly>
                        </div>
                        <div class="input-group-text col-lg-7 mb-1">
                            <span class="input-group-text">Phòng:&nbsp;</span>
                            <input class="form-control" name="Phong" id="Phong" value="<%- phieuthue.PhongID +'|'+phieuthue.PhongSo+'|'+phieuthue.LoaiPhongTen+'|'+phieuthue.LoaiPhongGia %>" readonly>                                
                            
                        </div>
                        <div class="input-group-text col-lg-2 mb-1"style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text">Hiệu lực:</span>
                            <input type="text" class="form-control" name="isActive" id="isActive" value="<%- phieuthue.isActive %>" readonly>                               
                        </div>                        
                    </div>
                    <div class="row">                        
                        <div class="input-group-text col-lg-6 mb-3">                            
                            <span class="input-group-text">Ngày thuê:</span>
                            <input type="date" class="form-control" name="NgayThue" id="NgayThue" readonly value="<%- phieuthue.NgayThue %>">                               
                        </div>
                        <div class="input-group-text col-lg-6 mb-3">
                            <span class="input-group-text">Ngày trả dự kiến:</span>
                            <input type="date" class="form-control" name="NgayTraDuKien" id="NgayTraDuKien" readonly value="<%- phieuthue.NgayTraDuKien %>" >                               
                        </div>
                        
                    </div>
                    <div class="row">                        
                        <div class="input-group-text col-lg-4 mb-2"style="padding-left: 55px; padding-right: 0px;">
                            <label class="pull-center" style="text-align: center; background-color: cornflowerblue; font-weight: bolder; font-size: 120%;" >Thông tin khách lưu trú:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-1 mb-1 px-1 mx-0">
                            <label class="px-1 mx-auto" style="text-align: center;font-weight: bolder;">STT</label>
                        </div>
                        <div class="input-group-text col-lg-3 mb-1" style="padding-left: 0px; padding-right: 0px;">
                            <label class="px-1 mx-auto" style="text-align: center;font-weight: bolder;">Họ tên</label>
                        </div>
                        <div class="input-group-text col-lg-2 mb-1" style="padding-left: 0px; padding-right: 0px;">
                            <label class="px-1 mx-auto" style="text-align: center;font-weight: bolder;">Loại Khách</label>
                        </div>
                        <div class="input-group-text col-lg-2 mb-1" style="padding-left: 0px; padding-right: 0px;">
                            <label class="px-1 mx-auto" style="text-align: center;font-weight: bolder;">GTCN Số</label>
                        </div>
                        <div class="input-group-text col-lg-4 mb-1" style="padding-left: 0px; padding-right: 0px;">
                            <label class="px-1 mx-auto" style="text-align: center;font-weight: bolder;">Địa chỉ</label>
                        </div>
                    </div>
                    <% for (let i=0; i<phieuthue.tongsoKhach; i++) { %>
                        <div class="row">
                            <div class="input-group-text col-lg-1 mb-1 px-1 mx-0">
                                <input type="text" class="form-control" name="STT" id="STT" readonly value="<%- khachs[i].STT %>"
                                    style="text-align: right; font-size: 86%; ">
                            </div>
                            <div class="input-group-text col-lg-3 mb-1 px-1 mx-0">
                                <input type="hidden" class="form-control px-1 mx-0" name="CaNhanID" id="CaNhanID" readonly
                                    value="<%- khachs[i].CaNhanID %>" style="text-align: right; font-size: 86%; ">
                                <input type="text" class="form-control px-1 mx-0" name="CaNhanTen" id="CaNhanTen" readonly
                                    value="<%- khachs[i].CaNhanTen %>" style="text-align: left; font-size: 86%; ">
                            </div>
                            <div class="input-group-text col-lg-2 mb-1 px-1 mx-0">
                                <input type="text" class="form-control px-1 mx-0" name="LoaiKhachTen" id="LoaiKhachTen" readonly
                                    value="<%- khachs[i].LoaiKhachTen %>" style="text-align: left; font-size: 86%; ">
                            </div>
                            <div class="input-group-text col-lg-2 mb-1 px-1 mx-0">
                                <input type="text" class="form-control px-1 mx-0" name="GTCNSo" id="GTCNSo" readonly
                                    value="<%- khachs[i].GTCNSo %>" style="text-align: left; font-size: 86%; ">
                            </div>
                            <div class="input-group-text col-lg-4 mb-1 px-1 mx-0">
                                <input type="text" class="form-control px-1 mx-0" name="DiaChi" id="DiaChi" readonly
                                    value="<%- khachs[i].DiaChi %>" style="text-align: left; font-size: 86%; ">
                            </div>
                        </div>
                        <% } %>
                    <div class="row" id="secCuoi">                        
                        <div class="input-group-text col-lg-4 mb-2" style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Tổng số khách lưu trú:</span>
                            <input type="number" class="form-control" name="tongsoKhach" id="tongsoKhach" value="<%- phieuthue.tongsoKhach %>" readonly style="color: blue; text-align: right;font-weight: bold; background-color: azure;">                               
                        </div>
                        <div class="input-group-text col-lg-4 mb-2"style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Số khách được lưu trú tối đa:</span>
                            <input type="number" class="form-control" name="tongsoKhachMax" id="tongsoKhachMax" value="<%- phieuthue.tongsoKhachMax %>" readonly style="color: rgb(136, 9, 9); text-align: right;font-weight: bold; background-color: azure;">                               
                        </div>
                        <div class="input-group-text col-lg-4 mb-2" style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Có khách nước ngoài:</span>
                            <input type="text" class="form-control" name="hasForeigner" id="hasForeigner" value="<%- phieuthue.hasForeigner %>" readonly style="color: blue; text-align: left;;font-weight: bold; background-color: azure;">                               
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-4 mb-1" style="padding-left: 55px; padding-right: 0px;">
                            <label class="pull-center"
                                style="text-align: center; background-color: cornflowerblue; font-weight: bolder; font-size: 120%;">Thông
                                tin giá phòng:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-4 mb-3" style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Hệ số giá áp dụng (%):</span>
                            <input type="number" class="form-control text-end" name="HeSoGia" id="HeSoGia" value="<%- chinhsach.HeSoGia %>"
                                readonly style="color: blue; text-align: right;font-weight: bold; background-color: azure;">
                        </div>
                        <div class="input-group-text col-lg-3 mb-3" style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Tỷ lệ phụ thu (%):</span>
                            <input type="text" class="form-control text-end" name="TyLePhuThu" id="TyLePhuThu"
                                value="<%- chinhsach.TyLePhuThu %>" readonly
                                style="color: blue; font-weight: bold; background-color: azure;">
                        </div>
                        <div class="input-group-text col-lg-5 mb-3" style="padding-left: 0px; padding-right: 0px;">
                            <span class="input-group-text" style="font-weight: bolder;">Đơn giá cho thuê (VND/ngày):</span>
                            <input type="text" class="form-control" name="DonGiaThanhToan" id="DonGiaThanhToan"
                                value="<%- phieuthue.DonGiaThanhToan %>" readonly
                                style="color: blue; text-align: right;font-weight: bold; background-color: azure;">
                        </div>
                    </div>
                    <div class="btn-group" role="group" >
                        <button class="btn btn-danger" type="button" id="btn_Xoa" onclick="getConfirmation_Delete()">&nbsp;&nbsp;Xóa&nbsp;&nbsp;</button>
                        <a class="btn btn-success" href="/thuephong" >Quay lại Danh sách Phiếu Thuê Phòng</a>
                    </div>
                </form>                                
                <br />
            </div>
        </div>
        <div class="row">
            <% include footer%>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



</body>

</html>