<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>Phong_Index</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <h2 style="color: red;">Danh Mục Phòng</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <% include leftsidebar%>
            </div>
            <div class="col-lg-9">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="/phong/create" style="font-size: 120%;">Thêm mới</a>
                </div>
                <br />

                <table class="table table-striped" width="100%">
                    <thead>
                        <tr width="100%">
                            <th width="6%">STT</th>
                            <th width="10%">Phòng số</th>
                            <th width="19%">Loại phòng</th>
                            <th width="16%">Đơn giá (/ngày)</th>
                            <th width="31%">Ghi chú</th>
                            <th colspan="3" width="18%"> Hành động </th>
                        </tr>
                    </thead>

                    <% for (let i=0; i<danhsach.length; i++) { %>
                        <tr width="100%">
                            <td width="6%">
                                <%=i +1 %>
                            </td>
                            <td width="10%">
                                <%=danhsach[i].PhongSo%>
                            </td>
                            <td width="19%">
                                <%=danhsach[i].LoaiPhongTen%>
                            </td>
                            <td width="16%" style="text-align: right;">
                                <%=danhsach[i].LoaiPhongGia%>
                            </td>
                            <td width="31%">
                                <%=danhsach[i].MoTa %>
                            </td>
                            <td width="6%"><a href="/phong/detail/<%- danhsach[i].PhongID %>">Xem</a> </td>
                            <td width="6%"><a href="/phong/update/<%- danhsach[i].PhongID %>">Sửa</a> </td>
                            <td width="6%"><a href="/phong/delete/<%- danhsach[i].PhongID %>">Xóa</a> </td>
                        </tr>
                        <% } %>
                </table>
            </div>

        </div>
        <div class="row">
            <% include footer%>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>


</body>

</html>