<!doctype html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>Phong_Update</title>
  </head>
  <body>    
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <br>
                <h2 style="color: red;">Thay Đổi Thông Tin Phòng</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><% include leftsidebar%></div>
            <div class="col-lg-9">                
                <form method="POST" action="/phong/update/<%- phong.PhongID %>">
                    <div class="row">
                        <div class="input-group-text col-lg-3 mb-3">
                            <span class="input-group-text">Phòng ID:</span>
                            <input type="number" class="form-control" name = "PhongID" id="PhongID" readonly value="<%- phong.PhongID %>">
                        </div>
                        <div class="input-group-text col-lg-3 mb-3">
                            <span class="input-group-text">Phòng Số:</span>
                            <input type="text" class="form-control" name = "PhongSo" id="PhongSo" value="<%- phong.PhongSo %>">
                        </div>         
                        <div class="input-group-text col-lg-6 mb-3">
                            <span class="input-group-text">Loại phòng:</span>
                            <select type="number" class="form-control" name="LoaiPhongID" id="LoaiPhongID">
                                <option value="<%- phong.LoaiPhongID %>"><%= phong.LoaiPhongTen %></option>
                                <% for(let i=0; i<loaiphong.length; i++){ %>
                                    <option value="<%- loaiphong[i].LoaiPhongID %>">
                                        <%= loaiphong[i].LoaiPhongID %> -- <%= loaiphong[i].LoaiPhongTen %> -- <%=
                                                    loaiphong[i].LoaiPhongGia %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <% let _tt = "Occupied"; if(phong.TinhTrang){_tt = "Available"}; %>
                        <div class="input-group-text col-lg-5 mb-3">
                            <span class="input-group-text"> Khu vực:</span>
                            <input type="text" class="form-control" name = "KhuVuc" id="KhuVuc" value="<%- phong.KhuVuc %>">
                        </div>
                        <div class="input-group-text col-lg-3 mb-3">
                            <span class="input-group-text"> Tầng:</span>
                            <input type="text" class="form-control" name= "Tang" id="Tang" value="<%- phong.Tang %>">
                        </div>
                        <div class="input-group-text col-lg-4 mb-3">
                            <span class="input-group-text"> Tình trạng:</span>
                            <select type="number" class="form-control" name= "TinhTrang" id="TinhTrang">
                                <option value="<%- phong.TinhTrang %>"><%= _tt %></option>
                                <option value="1">Available</option>
                                <option value="0">Occupied</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group-text col-lg-12 mb-3">
                            <span class="input-group-text"> Mô tả:</span>
                            <textarea rows="4" class="form-control" name= "MoTa" id="MoTa" ><%= phong.MoTa %></textarea>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary ">Cập Nhật</a>
                        <button type="reset" class="btn btn-info" style="font-size: 120%;">Reset</button>
                    </div>
                        
                </form>
                <br/>
                    <a class="btn btn-success" href="/phong" style="font-size: 100%;">Quay lại Danh mục Phòng</a>
                <br/>
                <br/>
            </div>
            
        </div>
        <div class="row">
            <% include footer%>
        </div>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>

  </body>
</html>